* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.canvas-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#canvas1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 43vh;
  left: 55%; /* Shift right from center */
  transform: translateX(-40%); /* This keeps the text itself centered */
  width: 100%;
  color: white;
  font-size: 24px;
  text-align: center;
  z-index: 1;
}

.category {
  position: relative;
  position: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  color: white;
  font-size: 24px;
  text-align: center;
}

.backgroundImage {
  width: 100%;
  filter: brightness(30%);
}

body {
  background: black;
}

.header {
  /* background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(50px); */
  background-color: rgba(0, 0, 0, 0.14);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  padding-top: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navBar {
  background-color: rgba(0, 0, 0, 0.01);
  display: flex;
  flex: 1; /* Allow it to take remaining space */
  justify-content: space-around; /* Distribute links evenly */
  align-items: center;
}

.logo {
  font-size: 2rem;
  color: #2affff;
  text-decoration: none;
  font-weight: 500;
}

.navBar a {
  font-size: 2rem;
  text-shadow: 1px 1px 2px #2affff;
  font-style: italic;
  font-weight: 300;
  color: white;
  /* color: #2affff; */
  text-decoration: none;
  margin-left: 2.5rem;
  margin-right: 0.5rem;
}

.navBar a:hover {
  color: #2affff;
  text-shadow: 3px 3px 4px #2affff;
}

.icons {
  position: absolute;
  right: 3%;
  size: 2.5rem;
  cursor: pointer;
}

/* Projects Page */
#projects {
  /* max-width: 1500px; */
  margin: 0 auto; /* 居中显示 */
  /* background-image: url("monet.webp"); */
  background-size: cover; /* 使背景图像覆盖整个元素 */
  background-position: center; /* 居中显示背景图像 */
  color: white; /* 设置文本颜色为白色 */
  padding-left: 4vw; /* 添加内边距，以确保内容不会太靠近边缘 */
  padding-right: 4vw;
}

.project-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* 项目之间的间距 */
  justify-content: center; /* 在主轴上居中对齐项目 */
}

/* 单个项目项的样式 */
.project-item {
  font-size: 4vh;
  flex: 1 1 180px; /* 让项目项能够伸缩，基础宽度为180px */
  display: flex;
  flex-direction: column; /* 使图片和文本垂直排列 */
  align-items: start; /* 在交叉轴上居中对齐内容 */
  justify-content: flex-start;
  text-align: left; /* 文本居中 */
  margin-bottom: 40px;
}

.project-item img {
  width: 100%; /* 使图片宽度填满容器 */
  max-width: 200px; /* 限制图片的最大宽度 */
  height: auto; /* 保持图片的原始比例 */
}

.footer {
  font-size: 1em;
  font-weight: 600;
  color: white;
  font-style: italic;
  text-align: center;
  margin-bottom: 1vh;
  margin-top: 4vh;
}

/* Media Query */
@media (min-width: 992px) {
  .icons {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .icons {
    display: none;
  }
}

@media (max-width: 768px) {
  /* menu bar icon换 */
  #menuIcon {
    display: block;
  }

  #closeIcon {
    display: none;
  }

  #closeIcon.active {
    display: block;
  }

  #menuIcon.active {
    display: none;
  }

  .navBar {
    display: none;
  }

  /* 当屏幕尺寸较小时nav bar变成需要展开的 */
  .navBar.active {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4rem;
    background: rgba(0, 0, 0, 0.316);
    backdrop-filter: blur(6px);
    box-shadow: 0 1rem 1rem rgb(0, 0, 0, 0.5);
  }

  .navBar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 1.5rem;
    text-align: center;
  }
}
